.mdl-layout-title {
  color: inherit;
  text-decoration: none;
}

.menu-item {
  @extend .mdl-navigation__link;
}

.mdl-layout-title {
    color: inherit;
    font-size: 1.3rem;
    letter-spacing: -0.001rem;
    text-decoration: none;
    margin-top: 0.6rem;
}

.mdl-layout__header-row--nav {
  display: none;
}

.menu-item {
  @extend .mdl-navigation__link;
}

.mdl-layout__header-row {
    height: 30px;
    padding: 0 12px 0 52px;
}

.mdl-layout__drawer .mdl-layout-title {
    color: inherit;
    font-size: 1em;
    text-decoration: none;
}

.mdl-layout-subtitle {
  color: inherit;
  text-decoration: none;
  font-size: .78rem;
}

.mdl-layout__header-row-thin {
  height: 1rem;
}

//Breakpoints 480, 600, 840, 960, 1280, 1440, and 1600dp.

@media (min-width: 37rem) {
  .mdl-layout-title {
      color: inherit;
      font-size: 1.5rem;
      letter-spacing: .4rem;
      text-decoration: none;
  }

  .mdl-layout__header-row {
    //height: 56px;
    padding: 0 12px 0 62px;
  }

  .mdl-layout-subtitle {
    color: inherit;
    text-decoration: none;
    font-size: .9rem;
  }

  .mdl-layout__header-row-thin {
    height: 1.5rem;
  }

  .mdl-layout__header-row--nav {
    display: block;
  }
}

@media (min-width: 60rem) {
  .mdl-layout-title {
      color: inherit;
      font-size: 1.5rem;
      text-decoration: none;
      line-height: 2rem;
  }

  .mdl-layout__header-row {
    padding: 0 12px 0 92px;
  }

  .mdl-layout-subtitle {
    color: inherit;
    text-decoration: none;
    font-size: .96rem;
  }

  .mdl-layout__header-row-thin {
    height: 1.5rem;
  }
}
